<h1>Follow Users</h1>

<% if @users.exists? %>
  <table class='table table-hover table-inverse'>
    <thead>
      <tr>
        <th class="col-2">image</th>
        <th class="col-2">name</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody>
     <% @users.each do |user| %>
      <tr>
         <td class="col-2"><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
         <td class="col-2"><%= user.name %></td>
         <td class="col-2">フォロー数:<%= user.followings.count %></td>
         <td class="col-2">フォロワー数:<%= user.followers.count %></td>
      </tr>
     <% end %>
    </tbody>
  </table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>